@font-face {
    font-family: Abel;
    src: url(../font/Abel/Abel-Regular.ttf);
}

*{
    /* width: 99%; */
    margin: 0;
    padding: 0;
    font-family: Abel;
}
/* body */
body{
    height: 100%;
    width: 100%;
    justify-items: center;
    background-color: rgb(254, 234, 210);
    font-size:1.2rem;
    overflow-x: hidden;
}

header{
    height: 20%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: minmax(100px, auto);
    margin: 30px;
    padding: 20px;
}
#home{
    max-height: 25vh;
    grid-column: 1/2;
    grid-row: 1;
    color: #765233;
    margin: 10px;
}
hr{
    border-color : #7652337d;
    border-width: 0.2px;
    margin-top: 10px;
    margin-bottom: 10px;
}
header > ul{
    display: flex;
    flex-direction: column;
}
.nav_link{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.home_arrow{
    align-self: right;
    width: 20%;
}

a{
    text-decoration: none;
    color: #765233;
    overflow-x: hidden;
}

#title{
    grid-column: 3 / 6;
    grid-row: 1;
    justify-self: center;
    text-align: center;
    min-height: 10vh;
    width: 70vh;
    margin: 10px;
}
.title{
    min-height: 75px;
    background: #467634b2;
    color: rgb(254, 234, 210);
    font-weight: normal;
    border-radius: 10px;
    padding-top: 4%;
}

footer{
    width: 100%;
    min-height: 10%;
}
/* acceuil page */
.main_acceuil{
    width: 100%;
    min-height: 70%;
}

#presentation{
    margin: 20px;
    padding: 20px;
    justify-items: center; 
    text-align: center;
}

.image_container{
    height: 200px;
    overflow: hidden;
}
.main_img{
    width: 100%;
    height:fit-content;
}



/* connexion page */
.main_connexion{
    width: 100%;
    height: 350px;
    justify-items: center;
    overflow-y: hidden;
    overflow-x: hidden;
}

.form_connexion{
    /* background */
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(../img/image_legume.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 99%;
    overflow-y: hidden;
    
    /* form */
    margin: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.7rem;
    font-weight: bold;
    color: #6a4b2f;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 10px;
}

.form_connexion > input{
    margin: 10px;
    height: 10%;
    width: 20%;
}

.form_connexion > .connexion_btn{
    background: #765233;
    color: rgb(254, 234, 210);
    font-weight: bold;
    font-size: 1.2rem;
    width: 10%;
    margin: 20px;
    border-radius: 10px;
    border: none;
}
.form_connexion > a {
    color: #6a4b2f;
    font-size: 1rem;
    font-weight: normal;
}
.error_log_msg{
    color: red;
    font-size: 1.2rem;
}

/* Inscription */
#inscription{
    min-width: 100%;
    min-height: 100%;
    background:#4676346a;
    align-items: center;
    text-align: center;
    
}
.main_inscription{
    width: 500px;
    height:50vh;
    background: rgb(254, 234, 210);
    box-shadow: #467634bd 5px 5px 5px;
    height: fit-content;
    margin-top: 15%;
}
#form_newa{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#form_newa > input{
    width: 40%;
    height: 20px;
}
.main_inscription > h2{
    background-color: #467634b2;
    color: rgb(254, 234, 210);
    width: 100%;
}
.register_btn{
    margin: 10px;
    width: 30%;
    height: 25px;
    border: none;
    background: #765233;
    color: rgb(254, 234, 210);
    border-radius: 5px;
    font-size: medium;
}

.back_btn{
    margin: 10px;
    width: 30%;
    color: #6a4b2f;
    
}

/* menus */
.main_menu{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.menu_card{
    height: 30vh;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    text-align: center;
    border: 5px solid #765233;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.menu_card_img{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50%;
    width: 100%;
    border-radius: 15px;
}


.buy_menu{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: 700;
}

.buy_menu > button{
    min-width: fit-content;
    padding: 5px;
    border: 2px solid #765233;
    background-color: #765233;
    color: rgb(254, 234, 210);
    border-radius: 5px;
    font-size: 1.2rem;
}
/* animations */

.form_connexion > .connexion_btn:hover{
    background: #765233;
    margin: 15px;
    width: 11%;
    height: 10%;
}

.form_connexion > a:hover, .back_btn:hover {
    text-decoration: underline;
    text-shadow: #fff 1px 0  10px;
    font-weight: 700;
}

.buy_menu > button:hover{
    transition: 0.2s;
    border: 2px solid #765233;
    background-color: rgb(254, 234, 210);
    color: #765233;
}

/* responsive part */

@media screen and (max-width: 750px) {
    #home{
        min-width: max-content;
    }
    .main_connexion{
        overflow-x: hidden;
    }
    .form_connexion > input{
        min-width: 30vh;
    }
    .connexion_btn{
        min-width: 10vh;
    }
    .buy_menu{
        flex-direction: column;
        font-size: 1.2rem;
        padding: 3px;
    }
}

@media screen and (max-width: 1300px) {
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    #home{
        width: 50%;
        align-items: center;
        justify-items: center;
    }
    ul {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-self: center;
        justify-content: center;
    }
    .nav_link{
        margin: 10px;
    }
    .nav_link > .home_arrow{
        opacity: 0%;
    }
    .form_connexion > input{
        width: 30%;
    }
    .main_connexion{
        margin-top: 30px;
    }
    .main_menu{
        align-items: center;
        flex-direction: column;
    }
    .menu_card{
        width: 30%;
    }
}
@media screen and (min-width: 1300px) {
    ul {
        width: 85%;
    }    
}
@media screen and (min-width: 1450px) {
    ul {
        width: 82%;
    }
}
@media screen and (min-width: 1700px) {
    ul {
        width: 65%;
    }
}